menuentry "SzczupakOS" {
    multiboot2 /boot/kernel.bin
    module2 /boot/SHELL.ELF SHELL.ELF
    module2 /boot/FONT.PSF FONT.PSF
    boot
}

menuentry "SzczupakOS (Hardware Safe Mode)" {
    multiboot2 /boot/kernel.bin safe nomodeset nousb nonet noata serialfirst
    module2 /boot/SHELL.ELF SHELL.ELF
    module2 /boot/FONT.PSF FONT.PSF
    boot
}
